apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: weather-app
  annotations:
    argocd.argoproj.io/tracking-id: weather-app:/Deployment:weather-app/backend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.repository}}:{{ .Values.backend.tag }}"
          ports:
            - containerPort: {{ .Values.backend_service.port }}
          env:
          - name: REDIS_HOST
            value: redis
          livenessProbe:
            httpGet: 
              path: /healthz
              port: {{ .Values.backend_service.port }}
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: {{ .Values.backend_service.port }}
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
