apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: weather-app
  annotations:
    argocd.argoproj.io/tracking-id: weather-app:apps/Deployment:weather-app/frontend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.frontend.repository}}:{{ .Values.frontend.tag }}"
          ports:
            - containerPort: {{ .Values.frontend_service.port }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
