apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: redis
  name: redis
  namespace: weather-app
  annotations:
    argocd.argoproj.io/tracking-id: weather-app:apps/Deployment:weather-app/redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: redis
    spec:
      containers:
      - image: redis:7
        name: redis
        ports:
          - containerPort: {{ .Values.redis_service.port }}
        resources: {}
status: {}
