name: Docker build and Push Backend + Frontend Images

on:
  workflow_call:
    inputs:
      target:
        required: false
        type: string
        default: "."

env:
  REGISTRY: ghcr.io
  REPO: ${{ github.repository_owner }}
  VERSION: ${{ github.ref_name }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Backend build
      - name: Build and push backend
        uses: docker/build-push-action@v6
        with:
          context: ./app/backend
          file: ./app/backend/Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPO }}/backend:latest
            ${{ env.REGISTRY }}/${{ env.REPO }}/backend:${{ github.sha }}
            ${{ env.REGISTRY }}/${{ env.REPO }}/backend:${{ env.VERSION }}

      # Frontend build
      - name: Build and push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./app/frontend
          file: ./app/frontend/Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPO }}/frontend:latest
            ${{ env.REGISTRY }}/${{ env.REPO }}/frontend:${{ github.sha }}
            ${{ env.REGISTRY }}/${{ env.REPO }}/frontend:${{ env.VERSION }}
